:root {
    /* colors */
    --coral: #f26a55;
    --pastel-pink: #ffe8ed;
    --red: #bf1b1b;
    --font: fantasy;
}

.js body { display: none; }

.nav_bar {
    width: 100%;
    height: 50px;
    margin: 0;
    background: var(--coral);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: var(--font);
}
.nav_bar > .element {
    width: 19.5%;
    line-height: 50px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0;
    text-decoration: none;
}
.nav_bar > .element:hover {
    color: var(--red);
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.profile_picture {
    padding: 20px 20px;
    float: left;
}

.content {
    width: 80%;
    margin-left: 9.5%;
    font-family: var(--font);
}
.content > p {
    font-size: 18px;
    line-height: 30px;
}

.info {
    margin-top: 40px;
    font-family: var(--font);
}

.projects {
    width: 90%;
    margin-left: 4.5%;
    background-color: var(--coral);
    font-family: var(--font);
}
.projects > .element {
    width: 90%;
    padding: 4.5%;
}
.projects > .element > .picture {
    float: left;
    width: 350px;
    height: 200px;
}
.projects > .element > h2 {
    color: white;
    padding-left: 400px;
}
.projects > .element > p {
    font-size: 18px;
    line-height: 25px;
    color: white;
    padding-left: 400px;
}

.experiences {
    width: 90%;
    margin-left: 4.5%;
    background-color: var(--coral);
    font-family: var(--font);
}
.experiences > .element {
    width: 95%;
    padding: 2%;
}
.experiences > .element > h2 {
    color: white;
}
.experiences > .element > p {
    font-size: 18px;
    line-height: 25px;
    color: white;
}

.linkedin {
    max-width: 2%;
    height: auto;
}
.github {
    max-width: 2%;
    height: auto;
}
.facebook {
    max-width: 2%;
    height: auto;
}